body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #0d0b0b;
    z-index: 1000;
    padding: 9px 10px; /* Adjust the padding to make the header slightly shorter */
}

.content {
    margin-top: 3cm; /* Add a 1cm gap between the header and the content */
}

.active {
    color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.smalllogo {
    color: #fff;
    max-width: 80px;
    max-height: 50px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.nav-links {
    list-style: none;
    color: #DAA520;
    padding: 5px;
    /* Remove margin: auto; */
    text-align: right;
    font-size: 14px;
    /* Add the following properties */
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links li {
    display: inline-block;
    margin-right: 30px;
}

.nav-links li a {
    color: #DAA520;
    text-decoration: none;
}

.nav-links li a:hover {
    color: gold;
}



.filters {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.filters a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.filters a:hover {
    background-color: #333;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    width: 5cm;
    height: 4cm;
    object-fit: cover; /* Ensures the image covers the entire space */
}


.grid-item h3 {
    margin: 10px 0;
    font-size: 18px;
}

.grid-item p {
    margin: 5px 0;
}

.grid-item form {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
