body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('foodimages/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 1000;
    padding: 22px;
    
    
}

.smalllogo {
    color: #fff;
    max-width: 80px;
    max-height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.signin-form {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color:rgba(7, 6, 6, 0.593);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #DAA520;
}

.input-group {
    margin-bottom: 20px;
    color:gold;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #DAA520
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color:goldenrod;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    
}

.input-group button:hover{
    color: gold;
}

.signup-forgot {
    margin-top: 10px;
    font: large;
}

.signup-forgot a {
    text-decoration: none;
    color: #DAA520;
    font: larger;
}

.signup-forgot a:hover {
    color: gold;
}
.nav-links {
    list-style: none;
    color: goldenrod;
    padding: 5px; /* Adjust padding */
    margin: auto;
    text-align: right;
    left: 1px;
    
    font-size: 16px; /* Adjust font size */
}

.nav-links li {
    display: inline-block;
    margin-right: 30px;
    
}

.nav-links li a {
    color: goldenrod;
    text-decoration: none;
}

.nav-links :hover{
    color: gold;
}