body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .content-container {
      margin-top: 80px; /* Adjust this value to increase/decrease the gap between the navbar and the container */
      padding: 20px;
      background-color: #f9f9f9;

  }
  
  .logo {
    color: #fff;
    max-width: 50px;
    max-height: 50px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #DAA520;
    text-decoration: none;
  }
  
  .content {
    padding-top: 100px; /* Adjust according to your navbar height */
    text-align: center; /* Center the content */
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    padding: 16px 32px; /* Increase button padding */
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #DAA520;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Increase button font size */
    margin: 10px; /* Add margin around the buttons */
  }
  
